* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-color: #69645f;/* Color de fondo similar a WhatsApp */
    padding: 2rem;
    font-family: 'Roboto', sans-serif; /* Tipografía moderna */
    background-image: url('/EdificioFondo.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.logo img {
    width: 100px; /* Ajusta el tamaño de la imagen del logo */
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
    transform: scale(1.1);
}

main {
    padding: 20px;
    text-align: center;
}

.contactos {
    flex: 1;
    max-width: 300px; /* Ancho máximo para la sección de contactos */
    background-color: #662020; /* Color de fondo claro */
    overflow-y: auto; /* Desplazamiento vertical si es necesario */
    border-right: 1px solid #000000; /* Borde para separar de la sección de chat */
    padding: 1rem;
}     

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

.info {
    flex: 1;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media img {
    width: 40px; /* Cambia el tamaño según necesites */
    height: auto;
    transition: transform 0.2s;
}

.social-media img:hover {
    transform: scale(1.1); /* Efecto al pasar el mouse */
}
