/* Estilo del contenedor principal */
.contenedor {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(51, 51, 51, 0.8);
  width: 98%;
  max-width: 1200px; /* Limita el ancho máximo */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo del título */
.h1 {
  font-weight: 700;
  color: #ebebeb;
  text-align: center;
  text-shadow: 
    1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
  margin-left: 0px;
  margin-bottom: 20px;
}

/* Contenedor de los grupos de formulario */
.formGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; /* Ancho máximo para mantenerlo responsivo */
  gap: 20px; /* Espacio entre formGroup1 y formGroup2 */
}

/* Estilos para formGroup1 y formGroup2 */
.formGroup1, .formGroup2 {
  flex: 1; /* Ambos ocupan el mismo ancho */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaciado entre elementos dentro del grupo */
  padding: 20px;
  border-radius: 10px;
  width: 48%;
}

/* Estilo de los campos de texto */
.usuario {
  text-align: left; /* Alinea el texto a la izquierda */
  color: #ebebeb;
  text-shadow: 
    1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

.usuario input {
  padding: 12px;
  border: 1px solid #69645f;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0 2px 4px #302e2c;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s;
  outline: none;
  color: #ebebeb;
  background-color: #994848;
}

.usuario input:focus {
  border-color: #c0afaf;
  box-shadow: 0 0 5px rgba(255, 107, 107, 0.5);
}

.usuario input::placeholder {
  color: white;
  opacity: 0.8;
}

.usuario h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Estilo del botón */
.boton {
  margin-top: 40px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ebebeb;
  background-color: #006400; /* Color verde oscuro */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0px;

}

.boton:hover {
  background-color: #228b22; /* Verde más claro al pasar el mouse */
}

.contenedor button {
  margin-bottom: 0px;
  margin-left: 0px;
}

.checkbox{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 10%;
}
