/* Login.module.css */
/* Estilo del contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-color: #69645f;/* Color de fondo similar a WhatsApp */
    padding: 2rem;
    font-family: 'Roboto', sans-serif; /* Tipografía moderna */
    background-image: url('/EdificioFondo.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Estilo del título */
  .h1 {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    color: #ebebeb; /* Color verde característico de WhatsApp */
    margin-bottom: 2rem;
    text-align: center;
  }
  
  /* Estilo del contenedor de los campos de texto y botón */
  .form-group {
    display: flex;
    width: 100%;
    max-width: 400px; /* Tamaño máximo del contenedor */
    background-color: #69645f;
  }
  
  /* Estilo de los campos de texto */
  .usuario, .password, .button {
    text-align: center;
    margin-bottom: 1rem;
    color: #ebebeb;
  }
  
  .usuario input, .password input {
    padding: 12px;
    border: 1px solid #69645f; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 1rem;
    width: 100%;
    box-shadow: 0 2px 4px #302e2c; /* Sombra ligera */
  }
  
  .usuario label, .password label {
    display: flex;
    margin-bottom: 0.5rem;
    color: #ebebeb; /* Color gris oscuro para el texto */
  }