/* page.module.css */

/* Estilo general para el contenedor principal */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
}

/* Estilo del encabezado */
.header {
  background-color: #50350dc9; /* Color verde característico de WhatsApp */
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  flex-shrink: 0; /* Asegura que el encabezado no se reduzca */
}

/* Contenedor de contactos y chat */
.container {
  display: flex;
  flex: 1; /* Ocupa el espacio restante */
  overflow: hidden; /* Oculta el desbordamiento para evitar barras de desplazamiento innecesarias */
}

/* Estilo del contenedor de contactos */
.contactos {
  flex: 1;
  max-width: 300px; /* Ancho máximo para la sección de contactos */
  background-color: #662020; /* Color de fondo claro */
  overflow-y: auto; /* Desplazamiento vertical si es necesario */
  border-right: 1px solid #000000; /* Borde para separar de la sección de chat */
  padding: 1rem;
}

/* Estilo del contenedor de chat */
.chatContainer {
  flex: 3;
  background-color: #855959; /* Fondo blanco para la sección de chat */
  overflow-y: auto; /* Desplazamiento vertical si es necesario */
  padding: 1rem;
}